// src/assets/_variables.scss
$main-bg-color: #1a1a1d;
$dark-accent: #333;
$gray: #4e4e50;
$highlight-color:#950740;//#1116a0; //#4a4a4a;
$accent-color: #c30734;//#101482;
$white: #ffff;
$dark-accent: #6f2232;
